<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>NODE</title>
      <link rel="icon" href="favicon.png" type="image/x-icon"/>
      <!-- Bootstrap CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/login-bc2.css" rel="stylesheet">
   </head>
   <body>
      <div class="wrapper">
         <div class="container">
            <div style="clear: both; margin-top: 20px;"></div>
            <div class="col-md-12 text-center">
               <h1 class="text-inverse fntlgt font40">NODE JS</h1>         
            </div>   
            <div class="col-md-4"></div>
            <div class="col-md-4">
               <div class="panel panel-default">
                  <div class="panel-body padding">
                     <form method="post" action="/signin" class = "text-center" role = "form">
                     <h1 class="text-muted fntlgt"><span class="glyphicon glyphicon-user"></span>&nbsp;Login</h1><br>
                        <% if(typeof(errorMessage) !== 'undefined') {%>
                           <span><%= errorMessage %></span>
                        <% } %>
                        <div class="form-group has-feedback">
                              <label for="username">username</label>
                              <input type="text" name="username" id="username" class = "form-control input-lg"
                                 placeholder="username" required="true"/>
                        </div>
                        <div class="form-group">
                           <label for="password">password</label>
                           <input type="password" name="password" id="password" class = "form-control input-lg"
                              placeholder="password" required="true"/>
                        </div>
                           <input type="submit" name="signin" id="signin" value="sign in" class = "btn btn-primary form-control"/> 
                        <div>
                           <a class = "" href="/signup" title="register">register</a>
                        </div>
                           
                     </form>                        
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="alert-login" class="alert alert-warning" style="background-color: #FAFFBD; text-align: center; display: none;" role="alert"></div>
      <footer>
         <div class="container">
            <p class="text-inverse text-center"></p>
         </div>
      </footer>
      <div class="text-inverse text-center">Este sitio esta diseñado para ser utilizado con el Navegador Google Chrome o Mozilla Firefox</div>
      <!-- jQuery -->
      <script src="/js/jquery2.1.3.min.js"></script>
      <!-- Bootstrap JavaScript -->
      <script src="/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
      <script>
      ocultarStatus();
      
      function ocultarStatus(){$("#stbar").fadeOut();$("#shadow-white").fadeOut();}
         var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23019901-1']);
          _gaq.push(['_setDomainName', "bootswatch.com"]);
            _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);
    
         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    
        </script>
   </body>
</html>