
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    Analisis de Uso de Red
    <small>Internet</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Analisis</li>
  </ol>
</section>
  <!-- Main row -->
  <div ng-app="Dashboard" class="content row" ng-controller = "mainController" ng-init="init()">
  
  <section class="col-lg-12">
    <!--aqui va el filtro de los dias --> 
  </section>
  
  
    <!-- Left col -->
    <section class="col-lg-6">
        <div class="box box-solid" >
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-area-chart"></i>
                <h3 class="box-title"> Protocolos {{title}} </h3>
            </div>
            <div class="box-body">
            <br><br><br>
              <div class="widget-content">
              <div id = "grafica1"></div>
              </div>
            </div><!-- /.box-body-->
        </div>    
    </section><!-- /.Left col -->
    
    <!-- Left col -->
    <section class="col-lg-6">
        <div class="box box-solid" >
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-area-chart"></i>
                <h3 class="box-title"> Top Host </h3>
            </div>
            <div class="box-body">
            <br><br><br>
              <div class="widget-content">
              <div id = "grafica2">

              <input type = "checkbox" name = "option1" ng-click = "compara()" ng-model = "checkboxes.valor1" ng-true-value="'yes'" ng-false-value="'no'"> Valor 1 
              <input type = "checkbox" name = "option1" ng-click = "compara()" ng-model = "checkboxes.valor2" ng-true-value="'yes'" ng-false-value="'no'"> Valor 2
              <div ng-show = "radio.show">
                <input type = "radio" name = "option" ng-value = "1"  ng-disabled="radio.disabled1" > Valor 1
                <input type = "radio" name = "option" ng-value = "0"  ng-disabled="radio.disabled2" > Valor 1
              </div>
             
              </div>

              {{radio.disabled1}}
              </div>
            </div><!-- /.box-body-->
        </div>    
    </section><!-- /.Left col -->
    
     <!-- Left col -->
    <section class="col-lg-6">
        <div class="box box-solid" >
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-area-chart"></i>
                <h3 class="box-title"> Top Aplicaciones </h3>
            </div>
            <div class="box-body">
            <br><br><br>
              <div class="widget-content">
              <div id = "grafica3">
                <strong>Existen {{lists.length}} registro(s)</strong>
                <div><input type="search" ng-model="query" placeholder ="filtrado de registros" aria-label="filtrado de registros"></div>
                <ul ng-repeat="list in lists | filter:query">
                  <li id = "{{list.id}}" name = "{{list.name}}">{{list.value}}</li>
                </ul>
                <ul>
                  <li ng-if="results.lenght == 0">
                    <strong> No se encontraron registros...</strong>
                  </li>
                </ul> 
              </div>
              <input type = "text" ng-model="newItem" placeholder="agregar nuevo">
              <input type = "button" class = "btn btn-flat btn-success" value  ="agregar nuevo" ng-click="addNew()">
              <br>
              <div class = "widget-content" >
                <h4>Es una directiva</h4>
                <aplicaciones data="lists"></aplicaciones>
              </div>
              </div>
            </div><!-- /.box-body-->
        </div>    
    </section><!-- /.Left col -->
    
     <!-- Left col -->
    <section class="col-lg-6">
        <div class="box box-solid" >
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-area-chart"></i>
                <h3 class="box-title"> Top Páginas </h3>
            </div>
            <div class="box-body">
            <br><br><br>
              <div class="widget-content">
              <div id = "grafica4">
                <strong>Existen {{lists.length}} registro(s)</strong>
                <div><input type="search" ng-model="query2" placeholder ="filtrado de registros" aria-label="filtrado de registros"></div>
                <ul ng-repeat="list in lists2 | filter:query2">
                  <li id = "{{list.id}}" name = "{{list.name}}">{{list.value}}</li>
                </ul>
                <ul>
                  <li ng-if="results.lenght == 0">
                    <strong> No se encontraron registros...</strong>
                  </li>
                </ul> 
              </div>
              <input type = "text" ng-model="newItem2.name" placeholder="agregar nuevo">
              <input type = "text" ng-model="newItem2.value" placeholder="agregar nuevo">
              <input type = "button" class = "btn btn-flat btn-success" value  ="agregar nuevo" ng-click="addNew2()">
              <br>
              </div>
            </div><!-- /.box-body-->
        </div>    
    </section><!-- /.Left col -->
     <!-- Left col -->
    <section class="col-lg-12">
        <div class="box box-solid" >
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-area-chart"></i>
                <h3 class="box-title"> Volúmen </h3>
            </div>
            <div class="box-body">
            <br><br><br>
              <div class="widget-content">
              <div id = "grafica5"></div>
              </div>
            </div><!-- /.box-body-->
        </div>    
    </section><!-- /.Left col -->
    
    
   
 
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
</div><!-- /.content-wrapper -->
