<strong>Existen {{data.length}} registro(s)</strong>
<div><input type="search" ng-model="query" placeholder ="filtrado de registros" aria-label="filtrado de registros" /></div>
<ul ng-repeat="list in data | filter:query">
  <li id = "{{list.id}}" name="{{list.name}}" ng-click="showAttr()">{{list.value}}</li>
</ul>
<ul>
  <li ng-if="results.lenght == 0">
    <strong> No se encontraron registros...</strong>
  </li>
</ul> 