<!DOCTYPE html>
<html lang="es">
	<head>
    <title>
      <%- conf.title %>
    </title>
		<% include ../partials/header %>
    <% include ../partials/libs %>
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
	   <div class="wrapper">
	       <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>[G</b>CP]</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>Global</b>ControlPanel</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
              </a>
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <!-- User Account: style can be found in dropdown.less -->
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <img src="custom/dist/img/user_unknown.png" class="user-image" alt="User Image">
                      <span class="hidden-xs">Sistemas</span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header">
                        <img src="custom/dist/img/user_unknown.png" class="img-circle" alt="User Image">
                        <p>
                          Sistemas - Usuario
                          <small>Ùltimo acceso - {{date('Y-m-d')}}</small>
                        </p>
                      </li>
                      <!-- Menu Body -->
                      <li class="user-body">
                        <div class="col-xs-4 text-center">
                        </div>
                        <div class="col-xs-4 text-center">
                        </div>
                        <div class="col-xs-4 text-center">
                        </div>
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="<?php echo Request::root().'/../..' ?>" class="btn btn-default btn-flat">Inicio</a>
                        </div>
                        <div class="pull-right">
                          <a href="<?php echo Request::root().'/../..' ?>" class="btn btn-default btn-flat">Salir</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </header>
	   
	      <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- Sidebar user panel -->
              <div class="user-panel">
                <div class="pull-left image">
                  <img src="custom/dist/img/user_unknown.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                  <p>Sistemas</p>
                  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
              </div>
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu">
                <li class="header">PRINCIPAL</li>
                <li class=" treeview">
                  <a id = "detailView" href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                  </a>

                </li>
				        <li>
                  <a href="#">
                    <i class="fa fa-th"></i> <span>Oficina de Admón. de Proyectos</span>
                  </a>
                </li>
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Mesa de Servicios Operativos</span>
                  </a>
                </li>
                <li>
                  <a href="<?php echo Request::root();?>/dashboard">
                    <i class="fa fa-th"></i> <span>Monitoreo Continuo de SLA's</span>
                  </a>
                </li>
                <li class="<?php echo ( Request::path() == 'analisis' || Request::path() == 'analisis/mpls') ? 'active' : '' ;?> treeview">
                  <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Analisis de uso de red</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  
                  <ul class="treeview-menu">
                    <li><a href="<?php echo Request::root();?>/analisis"><i class="fa fa-circle-o"></i> Internet</a></li>
                    <li><a href="<?php echo Request::root();?>/analisis/mpls"><i class="fa fa-circle-o"></i> MPLS</a></li>
                  </ul>
                 
                </li>
                <li class="treeview">
                  <a href="<?php echo Request::root();?>/herramienta">
                    <i class="fa fa-laptop"></i>
                    <span>Disponibilidad Herramientas</span>
                  </a>
                </li>
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>
          <div id = "content" class="content-wrapper" >
          <% include ../detail/index %>
          <!--Aqui va el contenido de las paginas. -->
          </div>

	   </div>
		
	</body>
</html>

