<meta charset="utf-8" >
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= conf.nameApp %></title>

<!-- Bootstrap CSS -->
<link type="text/css" href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link type="text/css" href="custom/dist/css/swipebox.min.css" rel="stylesheet">
<link type="text/css" href="custom/dist/css/AdminLTE.css" rel="stylesheet">
<!-- Sweet alert -->
<link type="text/css" href="custom/sweetalert.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link type="text/css" href="custom/dist/css/skins/_all-skins.min.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/iCheck/flat/blue.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/morris/morris.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/datepicker/datepicker3.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
<link type="text/css" href="custom/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet">