<!-- jQuery -->
<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
<script src="angular/angular.min.js"></script>
<script type="text/javascript" src="custom/sweet-alert.min.js"></script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="custom/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="custom/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="custom/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="custom/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="custom/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="custom/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="custom/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="custom/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="custom/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="custom/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="custom/dist/js/apps.js"></script>
<script src="custom/ajaxRender.js"></script> 
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script type="text/javascript">
		$(function () {
		  $(".connectedSortable .box-header, .connectedSortable .nav-tabs-custom").css("cursor", "move");
		});
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="core.js"></script>
<script src="angular-directivas/aplicaciones.js"></script>
<script src="services/serviceDashboard.js"></script>